// Start Page Navbar
.navbar {
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 18px;
                &.active {
                    font-weight: 700;
                    color: black;
                }
            }
        }
    }
}
// End Page Navbar