// Start Products Page
.product-details-page {
    padding: 4rem 0;
    // Start Page Header
    .page-header {
        header {
            h3 {
                margin-bottom: 2rem;
            }
        }
    }
    // End Page Header
    // Start Page Content
    .page-content {
        margin-top: 3rem;
        .details-info {
            ul {
                li {
                    line-height: 35px;
                }
            }
        }
    }
}